/** @format */

body {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );

  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 65px;
  margin-top: 0;
  height: 0;
}

select {
  border-radius: 10px;
  width: 25%;
  padding: 5px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
  margin: 10px auto;
  margin-top: 80px;
  background: #046d71;
}

option {
  color: #f38e79;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
}

a {
  font-weight: 500;
}

a,
h2 {
  color: #046d71;
}

a:hover,
.back:hover {
  text-decoration: none;
  color: #f38e79;
}

h2:hover {
  color: black;
}

footer {
  text-align: center;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: -25px;
  margin-bottom: 25px;
}

.container {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/109/396/original/81317d47691652c36dea4489c5e046ad.gif?1704487519");
  background-size: 800px;
  background-position: center;
  max-width: 650px;
  margin: 40px auto;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 10px 10px 10px rgba(65, 50, 100, 0.08);
}

.date {
  font-size: 13px;
  font-weight: 400;
  margin-top: -10px;
  color: #ffffff;
}

.city-one:hover,
.city-two:hover,
.city-three:hover,
.city-four:hover,
.city-five:hover,
.city-six:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

.time {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.time small {
  font-weight: lighter;
  font-size: 18px;
}

.time:hover {
  color: #046d71;
}

.back {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  color: #046d71;
  position: relative;
  top: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(65, 50, 100, 0.08);
}
